.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh; /* Made smaller so it doesn't take up the entire page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav > a {
  color: white;
  padding: 8px;
  text-decoration: none;
  font-weight: 600;
}

nav > a:hover, nav > a.active {
  text-decoration: underline;
  color: yellow;
}

li > div > span {
  font-weight: 300;
  font-size: 2em;
  
  
}