
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.App {
  text-align: left;
  background-color: rgba(206, 204, 231, 0.568);
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}  


.App-header {
  background-color: rgb(47, 43, 107);
  line-height: 1.6;
  
}
.allpets > div > span{
  display: flex;
}
.stafflist > div > span{
  display: flex;
}
h1 {
  font-weight: 100;
  font-size: 100px;
  line-height: 1.6;
 
}

.hero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./components/Header/image/hero puppy.jpeg");
  background-position-y:top;
  margin-bottom: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
}

.main-section {
  
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background: rgba(206, 204, 231, 0.568);
  padding: 50px;
  }

.App-link {
  color: #61dafb;
}

nav > a {
  color: white;
  padding: 8px;
  text-decoration: none;
  font-weight: 600;
}

nav > a:hover, nav > a.active {
  text-decoration: underline;
  color: yellow;
}

li > div > span {
  font-weight: 300;
  font-size: 2em;
}

div > section > div > span {
  font-weight: 600;
}
/* ============= Staff Cards Styling  =============== */
#staff-title{
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* ==================Pets Cards Styling=========== */
#pets-title{
  text-align: center;
}
.petcard{
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 320px;
  padding: 20px;
}