
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.App {
  text-align: left;
  background-color: rgba(206, 204, 231, 0.568);
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: rgb(47, 43, 107);
  display: flex;
  line-height: 1.6;
  
}

h1 {
  font-weight: 100;
  font-size: 100px;
  line-height: 1.6;
 
}

.hero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./components/Header/image/hero puppy.jpeg");
  background-position-y:top;
  margin-bottom: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
}

.main-section {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border-style: groove;

  border-radius: 25px;
  background: rgba(206, 204, 231, 0.568);
  padding: 20px;
 
}

.App-link {
  color: #61dafb;
}

nav > a {
  color: white;
  padding: 8px;
  text-decoration: none;
  font-weight: 600;
}

nav > a:hover, nav > a.active {
  text-decoration: underline;
  color: yellow;
}

li > div > span {
  font-weight: 300;
  font-size: 2em;
}

