.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-section {
  background-color: #c0c6c9;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}



.App-link {
  color: #61dafb;
}


nav > a {
  color: white;
  padding: 8px;
  text-decoration: none;
  font-weight: 600;
}

nav > a:hover, nav > a.active {
  text-decoration: underline;
  color: yellow;
}

li > div > span {
  font-weight: 300;
  font-size: 2em;
}

nav > a {
  color: white;
  padding: 8px;
  text-decoration: none;
  font-weight: 600;
}

nav > a:hover, nav > a.active {
  text-decoration: underline;
  color: yellow;
}