.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.6;
  padding-top: 2rem;
}


.hero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./components/Header/image/hero.jpeg");
  background-position-y: center;
  margin-bottom: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 700px);
}

.main-section {
  background-color: #c0c6c9;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}



.App-link {
  color: #61dafb;
}
